.regionmodal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 40rem;
  height: 26rem;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  &-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  &-title {
    color: rgb(43, 86, 215);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 2rem;
  }
  &-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4%;
    background-color: white;
    width: 11.2rem;
    height: 7rem;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 8px;
    padding-top: 1.2rem;
    box-sizing: border-box;
    & > img {
      border-radius: 8px;
    }
    &-current {
      color: rgb(164, 164, 164);
      font-size: 1.4rem;
      position: absolute;
      padding-top: 3.4rem;
      padding-left: 0.2rem;
      height: 2.3rem;
    }
  }
  &-select:hover {
    border: 2px solid rgb(0, 0, 179);
    cursor: pointer;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}