.chatroom {
  background-color: #414141;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%; }

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 5rem;
  height: 100%;
  background-color: #373737; }
  .sidebar-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .sidebar-select {
    padding-left: 0.25rem;
    background-color: #008000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .sidebar-hover {
    padding-left: 0.25rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    background-color: #3957b0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .sidebar-hoverblend {
    padding-left: 0.25rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    background-color: #373737;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .sidebar-logo {
    margin-top: 6px;
    width: 80%;
    padding-bottom: 1rem;
    margin-left: 10%;
    height: 50px;
    cursor: pointer; }
  .sidebar-border {
    border-top: 1px solid #4d4d4d;
    width: 40%;
    margin-left: 30%; }

.sidebarleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 12rem;
  height: 100%;
  background-color: #303030;
  border-left: 1px solid black;
  border-right: 1px solid black; }
  .sidebarleft-container {
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem; }
    .sidebarleft-container > input {
      background-color: #3c3c3c;
      text-decoration: none;
      outline: none;
      border: 1px solid black;
      height: 1.5rem;
      color: white;
      padding-left: 3%;
      margin-left: 7%;
      width: 80%;
      border-radius: 3px; }
  .sidebarleft-border {
    border-top: 1px solid #4d4d4d;
    width: 100%; }
  .sidebarleft-bordertwo {
    margin-top: 0.4rem;
    border-top: 1px solid #4d4d4d;
    width: 100%; }
  .sidebarleft-friendscontainer {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%; }
  .sidebarleft-logo {
    width: 30px; }
  .sidebarleft-friends {
    color: #A1A1A1;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-left: 10px; }
  .sidebarleft-directmessages {
    color: #A1A1A1;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem; }

.mainarea {
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .mainarea-topnav {
    height: 2.75rem;
    width: 100%;
    border-bottom: 1px solid #4d4d4d; }
  .mainarea-container {
    display: flex;
    flex: 1;
    justify-content: center; }
    .mainarea-container-addserver {
      width: 20rem;
      height: 25rem;
      background-color: #72767d;
      margin-top: 5rem;
      border-radius: 5px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 3rem; }
      .mainarea-container-addserver > h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #3a529d; }
      .mainarea-container-addserver > p {
        width: 65%;
        color: #cecece;
        text-align: center; }
      .mainarea-container-addserver > button {
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
        outline: none;
        border: none;
        color: #ebebeb;
        font-size: 0.8rem;
        background-color: #3957b0;
        cursor: pointer; }
    .mainarea-container-joinserver {
      width: 20rem;
      height: 25rem;
      background-color: #72767d;
      margin-left: 5rem;
      margin-top: 5rem;
      border-radius: 5px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 3rem; }
      .mainarea-container-joinserver > h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #006000; }
      .mainarea-container-joinserver > p {
        width: 65%;
        color: #cecece;
        text-align: center; }
      .mainarea-container-joinserver > button {
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
        outline: none;
        border: none;
        color: #ebebeb;
        font-size: 0.8rem;
        background-color: #006000;
        cursor: pointer; }

.settings-image {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-left: 3.2rem;
  margin-right: 0.5rem; }

.modal-settings {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  background-color: #36393f;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.3s; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
