.chatroom {
  background-color: #36393f;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chatarea {
  display: flex;
  flex-direction: column;
  flex: 1;
  &-topbar {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #212121;
    min-height: 1.9rem;
    padding-left: 0.5rem;
    margin-top: 0.9rem;
    & > span {
      color: rgb(242, 242, 242);
      padding-left: 0.2rem;
      position: absolute;
      margin-top: -0.1rem;
    }
  }
  &-container {
    display: flex;
    justify-content: center;
    height: 5.5rem;
    & > input {
      margin-top:auto;
      position: relative;
      bottom: 0.8rem;
      display: flex;
      flex: 0.96;
      height: 2.5rem;
      padding-left: 0.5rem;
      font-size: 0.8rem;
      color: white;
      background-color: rgb(60, 60, 60);
      text-decoration: none;
      outline: none;
      border: 1px solid black;
    }
  }
  &-messages {
    height: 100%;
    margin-bottom: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    @supports (-ms-ime-align:auto) {
      flex-direction: column;
    }
    @-moz-document url-prefix() {
      flex-direction: column;
    }
    padding-left: 2rem;
    & > div {
      display: inline-block;
      line-height: 1.1rem;
    }
    & > div:first-child {
      @supports (-ms-ime-align:auto) {
        margin-top: auto;
      }
      @-moz-document url-prefix() {
        margin-top: auto;
      }
    }
    &-container {
      margin-top: 0rem;
    }
    &-user {
      cursor: context-menu;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 1.2rem;
      color: rgb(80, 208, 74);
      margin-right: 0.3rem;
    }
    &-time {
      color: rgb(136, 136, 136);
      font-size: 0.8rem;
    }
    &-message {
      font-size: 1rem;
      margin-top: 0rem;
      width: 94%;
      color: white;
    }
    &-editmessage {
      border: none;
      outline: none;
      flex: 1;
      width: 94%;
      padding-left: 0.5rem;
      background-color: #303030;
      border-radius: 3px;
      color: white;
      height: 1.5rem;
      border: 1px solid black;
      font-size: 1rem;
      &-note {
        color: white;
        margin-top: 0.3rem;
        font-size: 0.6rem;
        margin-left: 0.1rem;
      }
    }
    &-menu {
      display: inline-block;
      position: absolute;
      right: 2rem;
      margin-top: 0.5rem;
      cursor: pointer;
    }
    &-editmenu {
      background-color: black;
      width: 4rem;
      height: 4rem;
      position: absolute;
      right: 2rem;
      z-index: 2;
      border-radius: 4px;
      margin-top: -1.8rem;
      & > span {
        cursor: pointer;
        color: white;
        position: absolute;
        right: 0;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
      }
      & > p {
        color: white;
        margin-left: 0.6rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
    &-sideusermodal {
      background-color: black;
      width: 9rem;
      height: 3rem;
      position: absolute;
      right: 2rem;
      z-index: 2;
      border-radius: 4px;
      margin-top: -1rem;
      & > span {
        cursor: pointer;
        color: white;
        position: absolute;
        right: 0;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
      }
      &-privatemessage {
        color: white;
        margin-left: 0.6rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
    &-sideusermodalmod {
      background-color: black;
      width: 12rem;
      height: 6rem;
      position: absolute;
      right: 2rem;
      z-index: 2;
      border-radius: 4px;
      margin-top: -4rem;
      & > span {
        cursor: pointer;
        color: white;
        position: absolute;
        right: 0;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
      }
      &-privatemessage {
        color: white;
        margin-left: 0.6rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
      &-kick, &-ban {
        color: red;
        margin-left: 0.6rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
    &-usermodal {
      background-color: black;
      width: 9rem;
      height: 3rem;
      position: absolute;
      left: 2rem;
      z-index: 2;
      border-radius: 4px;
      margin-top: -1rem;
      & > span {
        cursor: pointer;
        color: white;
        position: absolute;
        right: 0;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
      }
      &-privatemessage {
        color: white;
        margin-left: 0.6rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
    &-usermodalmod {
      background-color: black;
      width: 12rem;
      height: 6rem;
      position: absolute;
      left: 2rem;
      z-index: 2;
      border-radius: 4px;
      margin-top: -4rem;
      & > span {
        cursor: pointer;
        color: white;
        position: absolute;
        right: 0;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
      }
      &-privatemessage {
        color: white;
        margin-left: 0.6rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
      &-kick, &-ban {
        color: red;
        margin-left: 0.6rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
  }
  &-messages:hover {
    overflow: auto;
  }
}

.sidebarright {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-left: auto;
  width: 12rem;
  height: 100%;
  background-color: rgb(48, 48, 48);
  border-left: 1px solid black;
  border-right: 1px solid black;
  &-container {
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    margin-top: 8px;
    margin-bottom: 11px;
    & > input {
      background-color: rgb(60, 60, 60);
      text-decoration: none;
      outline: none;
      border: 1px solid black;
      height: 1.5rem;
      color: white;
      padding-left: 3%;
      margin-left: 7%;
      width: 80%;
      border-radius: 3px;
    }
  }
  &-border {
    border-top: 1px solid rgb(77, 77, 77);
    width: 100%;
  }
  &-bordertwo {
    margin-top: 0.4rem;
    border-top: 1px solid rgb(77, 77, 77);
    width: 100%;
  }
  &-friendscontainer {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
  }
  &-logo {
    width: 30px;
  }
  &-friends {
    color: #A1A1A1;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-left: 10px;
  }
  &-authority {
    color: #A1A1A1;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  &-usercontainer {
    cursor: context-menu;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
  }
  &-user {
    margin-left: 0.5rem;
    color: white;
  }
}

.userinfo {
  display: flex;
  flex-direction: row;
  background-color: #2d2c2c;
  border: 1px solid black;
  margin-top:auto;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  &-online {
    background-color: #008000;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 2rem;
    border: 3px solid #303030;
    margin-left: -0.6rem;
    margin-top: 1rem;
  }
  &-offline {
    background-color: rgb(230, 0, 0);
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 2rem;
    border: 3px solid #303030;
    margin-left: -0.6rem;
    margin-top: 1rem;
  }
}

.username {
  background-color: white;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 20px;
  &-image {
    width: 1.6rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
  }
}