.forgotpassword {
  position: absolute;
  z-index: 20;
  width: 40rem;
  height: 20rem;
  background-color: white;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  border-radius: 5px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.3s; }

.forgotpassword-title {
  color: #2b56d7;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 2rem; }

.forgotpassword > input {
  border: none;
  outline: none;
  width: 90%;
  border-bottom: 1px solid #2b56d7;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  background-color: #f2f2f2;
  margin-left: 5%;
  margin-top: 4rem; }

.forgotpassword-actions {
  height: 5rem;
  width: 100%;
  background-color: #e9e9e9;
  position: relative;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 4rem; }

.forgotpassword-actions > p {
  cursor: pointer;
  font-size: 1.2rem;
  padding-top: 0.75rem;
  padding-left: 2rem; }

.forgotpassword-actions > button {
  cursor: pointer;
  background-color: #2b56d7;
  color: #f7f6f6;
  height: 2.25rem;
  box-sizing: border-box;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 3px;
  margin-left: 25rem;
  margin-top: 1.5rem; }
