.forgotpassword {
  position: absolute;
  z-index: 20;
  width: 40rem;
  height: 20rem;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  border-radius: 5px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  &-title {
    color: rgb(43, 86, 215);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 2rem;
  }
  & > input {
    border: none;
    outline: none;
    width: 90%;
    border-bottom: 1px solid rgb(43, 86, 215);
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    background-color: rgb(242, 242, 242);
    margin-left: 5%;
    margin-top: 4rem;
  }
  &-actions {
    height: 5rem;
    width: 100%;
    background-color: rgb(233, 233, 233);
    position: relative;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    & > p {
      cursor: pointer;
      font-size: 1.2rem;
      padding-top: 0.75rem;
      padding-left: 2rem;
    }
    & > button {
      cursor: pointer;
      background-color: rgb(43, 86, 215);
      color: rgb(247, 246, 246);
      height: 2.25rem;
      box-sizing: border-box;
      padding: 0.5rem 1.5rem 1.5rem 1.5rem;
      font-size: 1rem;
      border-radius: 3px;
      margin-left: 25rem;
      margin-top: 1.5rem;
    }
  }
}