.privatechatarea {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0; }
  .privatechatarea-container {
    display: flex;
    justify-content: center;
    height: 5.5rem; }
    .privatechatarea-container > input {
      margin-top: auto;
      position: relative;
      bottom: 0.8rem;
      display: flex;
      flex: 0.96;
      height: 2.5rem;
      padding-left: 0.5rem;
      font-size: 0.8rem;
      color: white;
      background-color: #3c3c3c;
      text-decoration: none;
      outline: none;
      border: 1px solid black; }
  .privatechatarea-messages {
    height: 100%;
    margin-bottom: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 2rem; }

@-moz-document url-prefix(), @supports (-ms-ime-align: auto) {
  .privatechatarea-messages {
    flex-direction: column; } }
    .privatechatarea-messages > div {
      line-height: 0.5rem; }

@-moz-document url-prefix(), @supports (-ms-ime-align: auto) {
  .privatechatarea-messages > div:first-child {
    margin-top: auto; } }
    .privatechatarea-messages-user {
      cursor: context-menu;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 1.2rem;
      color: #50d04a;
      margin-right: 0.3rem; }
    .privatechatarea-messages-time {
      color: #888888;
      font-size: 0.8rem; }
    .privatechatarea-messages-message {
      font-size: 1rem;
      color: white; }
  .privatechatarea-messages:hover {
    overflow: auto; }
