.servermodal {
  position: absolute;
  z-index: 20;
  width: 40rem;
  height: 25rem;
  background-color: white;
  transform: translate(50%, 25%);
  border-radius: 5px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.5s; }
  .servermodal-title {
    color: #2b56d7;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 2rem; }
  .servermodal-info {
    font-size: 1.2rem;
    color: #616161;
    width: 80%;
    margin-left: 10%;
    text-align: center; }
  .servermodal-name {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 5%;
    color: #616161; }
  .servermodal-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #2b56d7;
    padding-bottom: 0.3rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    background-color: #f2f2f2;
    margin-left: 5%; }
  .servermodal-region {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 5%;
    color: #616161; }
  .servermodal-rules {
    font-size: 0.8rem;
    margin-left: 5%;
    color: #616161; }
  .servermodal-actions {
    height: 5rem;
    width: 100%;
    background-color: #e9e9e9;
    position: relative;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row; }
    .servermodal-actions > p {
      cursor: pointer;
      font-size: 1.2rem;
      padding-top: 0.75rem;
      padding-left: 2rem; }
    .servermodal-actions > button {
      cursor: pointer;
      background-color: #335fe4;
      color: #f7f6f6;
      height: 2.25rem;
      box-sizing: border-box;
      padding: 0.5rem 1.5rem 1.5rem 1.5rem;
      font-size: 1rem;
      border-radius: 3px;
      margin-left: 25rem;
      margin-top: 1.5rem; }
  .servermodal-select {
    margin-left: 5%;
    background-color: white;
    width: 18.6rem;
    border: 1px solid #a4a4a4;
    border-radius: 8px;
    padding: 0.4rem 0rem 0.2rem 0.4rem;
    box-sizing: border-box; }
    .servermodal-select > img {
      border-radius: 8px; }
    .servermodal-select-image > img {
      position: absolute;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      top: 40%;
      right: 10%;
      border: 6px solid rgba(203, 203, 203, 0.899);
      cursor: pointer; }
    .servermodal-select-image > p {
      color: white;
      position: absolute;
      top: 49%;
      right: 16%;
      cursor: pointer; }
    .servermodal-select-image > p:last-child {
      color: white;
      position: absolute;
      top: 54%;
      right: 18%;
      cursor: pointer; }
    .servermodal-select-current {
      color: #a4a4a4;
      font-size: 1.2rem;
      margin-left: 0.5rem;
      position: absolute;
      padding-top: 0.8rem;
      margin-top: -0.4rem;
      padding-right: 3rem;
      height: 2.3rem; }
    .servermodal-select-change {
      color: #2b56d7;
      font-size: 1rem;
      margin-left: 10rem;
      position: absolute;
      margin-top: -0.4rem;
      height: 1.5rem;
      padding: 1rem 0.6rem 0.5rem 0.5rem;
      border-left: 1px solid #a4a4a4;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
    .servermodal-select-change:hover {
      color: #2b56d7;
      position: absolute;
      cursor: pointer;
      margin-top: -0.45rem;
      height: 1.45rem;
      padding: 0.95rem 0.5rem 0.5rem 0.5rem;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border: 2px solid #2b56d7;
      background-color: #f7f7f7; }

.regionmodal-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.regionmodal-title {
  color: #2b56d7;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 2rem; }

.regionmodal-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 4%;
  background-color: white;
  width: 11.2rem;
  height: 7rem;
  border: 1px solid #a4a4a4;
  border-radius: 8px;
  padding-top: 1.2rem;
  box-sizing: border-box; }
  .regionmodal-select > img {
    border-radius: 8px; }
  .regionmodal-select-current {
    color: #a4a4a4;
    font-size: 1.4rem;
    position: absolute;
    padding-top: 3.4rem;
    padding-left: 0.2rem;
    height: 2.3rem; }

.regionmodal-select:hover {
  border: 2px solid #0000b3;
  cursor: pointer; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
