.notificationsmodal {
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    width: 32rem;
    height: 16rem;
    &-title {
      text-align: center;
      font-size: 1.4rem;
      color: white;
    }
    &-name {
      margin-left: 2rem;
      font-size: 1.2rem;
      height: 0.8rem;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      color: white;
    }
    &-allow {
      color: white;
      & > span {
        margin-left: 2rem;
      }
    }
    &-cancel {
      cursor: pointer;
      outline: none;
      border: 1px solid rgb(53, 53, 53);
      background-color: rgb(53, 53, 53);
      color: white;
      font-size: 1rem;
      box-sizing: border-box;
      padding: 0.5rem 1rem 0.5rem 1rem;
      margin-top: 2rem;
      margin-left: 20rem;
      margin-right: 1rem;
    }
    &-create {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: rgb(114, 114, 203);
      color: white;
      font-size: 1rem;
      box-sizing: border-box;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 3px;
    }
  }
}

/* The switch - the box around the slider */
.switchnotify {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 6.5rem;
  top: -0.4rem;
  // top: .9rem;
}

/* Hide default HTML checkbox */
.switchnotify input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slidernotify {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slidernotify:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slidernotify {
  background-color: #0066cc;
}

input:focus + .slidernotify {
  box-shadow: 0 0 1px #0066cc;
}

input:checked + .slidernotify:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slidernotify.roundnotify {
  border-radius: 34px;
}

.slidernotify.roundnotify:before {
  border-radius: 50%;
}