.chatroom {
  // background-color: rgb(58, 58, 58);
  background-color: rgb(65, 65, 65);
  // background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 100%;
  background-color: rgb(55, 55, 55);
  &-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-select {
    padding-left: 0.25rem;
    background-color: #008000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &-logo {
    margin-top: 6px;
    width: 80%;
    padding-bottom: 1rem;
    margin-left: 10%;
    height: 50px;
  }
  &-border {
    border-top: 1px solid rgb(77, 77, 77);
    width: 40%;
    margin-left: 30%;
  }
}

.sidebarleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 12rem;
  height: 100%;
  background-color: rgb(48, 48, 48);
  border-left: 1px solid black;
  border-right: 1px solid black;
  &-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    & > input {
      background-color: rgb(60, 60, 60);
      text-decoration: none;
      outline: none;
      border: 1px solid black;
      height: 1.5rem;
      color: white;
      padding-left: 3%;
      margin-left: 7%;
      width: 80%;
      border-radius: 3px;
    }
  }
  &-border {
    border-top: 1px solid rgb(77, 77, 77);
    width: 100%;
  }
  &-bordertwo {
    margin-top: 0.4rem;
    border-top: 1px solid rgb(77, 77, 77);
    width: 100%;
  }
  &-friendscontainer {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
  }
  &-logo {
    width: 30px;
  }
  &-friends {
    color: #A1A1A1;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-left: 10px;
  }
  &-directmessages {
    color: #A1A1A1;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}

.chatarea {
  // background-color: green;
  display: flex;
  flex-direction: column;
  flex: 1;
  &-container {
    display: flex;
    flex: 1;
    justify-content: center;
    & > input {
      margin-top:auto;
      position: relative;
      bottom: 0.8rem;
      display: flex;
      flex: 0.96;
      height: 2.5rem;
      padding-left: 0.5rem;
      font-size: 0.8rem;
      color: white;
      background-color: rgb(60, 60, 60);
      text-decoration: none;
      outline: none;
      border: 1px solid black;
    }
  }
}

.sidebarright {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-left: auto;
  width: 12rem;
  height: 100%;
  background-color: rgb(48, 48, 48);
  border-left: 1px solid black;
  border-right: 1px solid black;
  &-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    & > input {
      background-color: rgb(60, 60, 60);
      text-decoration: none;
      outline: none;
      border: 1px solid black;
      height: 1.5rem;
      color: white;
      padding-left: 3%;
      margin-left: 7%;
      width: 80%;
      border-radius: 3px;
    }
  }
  &-border {
    border-top: 1px solid rgb(77, 77, 77);
    width: 100%;
  }
  &-bordertwo {
    margin-top: 0.4rem;
    border-top: 1px solid rgb(77, 77, 77);
    width: 100%;
  }
  &-friendscontainer {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
  }
  &-logo {
    width: 30px;
  }
  &-friends {
    color: #A1A1A1;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-left: 10px;
  }
  &-authority {
    color: #A1A1A1;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  &-usercontainer {
    margin-top: 0.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
  }
  &-user {
    margin-left: 0.5rem;
    color: white;
  }
}

.userinfo {
  display: flex;
  flex-direction: row;
  background-color: #2d2c2c;
  border: 1px solid black;
  margin-top:auto;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  &-online {
    background-color: #008000;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 2rem;
    border: 3px solid #303030;
    margin-left: -0.6rem;
    margin-top: 1rem;
  }
  &-offline {
    background-color: rgb(230, 0, 0);
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 2rem;
    border: 3px solid #303030;
    margin-left: -0.6rem;
    margin-top: 1rem;
  }
}

.username {
  background-color: white;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 20px;
  &-image {
    width: 1.6rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
  }
}

.settings {
  &-image {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 3.2rem;
  }
}





// .tabBar {
//   background-color: white;
//   color: black;
//   height: 3rem;
//   width: 6.5rem;
//   margin-top: 6rem;
//   margin-left: 10rem;
//   border: 2px solid black;
//   border-top-left-radius: 8px;
//   border-top-right-radius: 8px;
//   padding-left: 2rem;
//   padding-top: 0.2rem;
//   font-size: 2rem;
//   cursor: pointer;

//   &-active {
//     background-color: #0066cc;
//     color: white;
//     height: 3rem;
//     width: 6.5rem;
//     margin-top: 6rem;
//     margin-left: 10rem;
//     border: 2px solid black;
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
//     padding-left: 2rem;
//     padding-top: 0.2rem;
//     font-size: 2rem;
//     cursor: pointer;
//   }
// }

// .chatContainer {
//   margin: 5rem;
//   margin-left: 10rem;
//   margin-right: 10rem;
//   margin-top: 8rem;
//   border: 2px solid #000;
//   max-height: 75rem;
//   display: flex;
//   flex-direction: row;
//   flex: 1;
//   background-color: #FFF;

//   &-list {
//     overflow: auto;
//     width: 25rem;
//     height: 75rem;
//     border-right: 2px solid #000;
//     font-size: 1.6rem;
//     flex-shrink: 0;
//   }

//   &-area {
//     overflow: auto;
//     width: 200rem;
//     height: 71.6rem;
//     box-sizing: border-box;
//     font-size: 1.6rem;
//     display: block;
//     border-bottom: 2px solid #000;
//     word-wrap: break-word;
//   }

//   &-container {
//     overflow: auto;
//     box-sizing: border-box;
//     padding-left: 0.5rem;
//     padding-right: 1rem;
//   }

//   &-sideperson {
//     display: flex;
//     flex-direction: row;
//     padding-top: 0.2rem;
//     border-bottom: 1px solid #000;
//     padding-bottom: 0.2rem;
//     padding-left: 0.2rem;
//     cursor: pointer;
//   }

//   &-general {
//     display: flex;
//     flex-direction: row;
//     padding-top: 0.2rem;
//     border-bottom: 1px solid #000;
//     padding-bottom: 0.2rem;
//     padding-left: 0.2rem;
//     cursor: pointer;
//     height: 2.5rem;
//   }

//   &-generalactive {
//     display: flex;
//     flex-direction: row;
//     padding-top: 0.2rem;
//     border-bottom: 1px solid #000;
//     padding-bottom: 0.2rem;
//     padding-left: 0.2rem;
//     cursor: pointer;
//     height: 2.5rem;
//     color: white;
//     background-color: #0066cc;
//   }

//   &-personicon {
//     height: 2.5rem;
//     width: 2.5rem;
//   }

//   &-eachmessage {
//     font-size: 1.4rem;
//   }

//   &-eachusername {
//     // padding-left: 0.5rem;
//   }

//   &-message {
//     display: flex;
//     flex-direction: row;
//     align-self: flex-end;
//     flex: 1;
//     position: relative;
//     z-index: 1;
//     margin-top: -8.6rem;
//     padding-left: 35.4rem;
//     padding-right: 10rem;
//     margin-bottom: 10rem;
//   }
// }

// .private-message {
//   color: white;
//   background-color: #0066cc;
// }

// .chatMessage {
//   box-sizing: border-box;
//   display: flex;
//   flex: 1;
// }

// .chatSend {
//   font-family: Antonio-Regular;
//   width: 6rem;
//   height: 3.4rem;
//   box-sizing: border-box;
//   border: 1px solid black;
//   background-color: #008000;
//   color: #FFF;
// }

// .userDetails {
//   position: absolute;
//   z-index: 5;
//   top: 0;
//   left: 0;
//   height: 50rem;
//   width: 50rem;
//   margin-left: 8rem;
//   margin-top: 10rem;
//   border-radius: 2px;
//   background-color: #FFF;
//   border: 2px solid #000;
// }

// .userStatus {
//   &-online {
//     margin: 0 0 0 auto;
//     margin-right: 0.5rem;
//     background-color: #2EB91C;
//     width: 1.2rem;
//     height: 1.2rem;
//     border-radius: 0.8rem;
//     margin-top: 0.6rem;
//     border: 1px solid black;
//   }
//   &-offline {
//     margin: 0 0 0 auto;
//     margin-right: 0.5rem;
//     background-color: #FFF;
//     width: 1.2rem;
//     height: 1.2rem;
//     border-radius: 0.8rem;
//     margin-top: 0.6rem;
//     border: 1px solid black;
//   }
// }

// @media (max-width: 1000px) {
//   .chatContainer {
//     margin-left: 5rem;
//     max-height: 60rem;
//     &-list {
//       width: 15rem;
//       height: 60rem;
//     }

//     &-area {
//       height: 56.6rem;
//     }

//     &-message {
//       margin-top: -8.6rem;
//       padding-left: 20.4rem;
//       padding-right: 10rem;
//     }
//   }

//   .tabBar {
//     margin-top: 6rem;
//     margin-left: 5rem;

//     &-active {
//       margin-top: 6rem;
//       margin-left: 5rem;
//     }
//   }

//   .userStatus {
//     &-online {
//       margin: 0 0 0 auto;
//       margin-right: 0.5rem;
//       background-color: #008000;
//       width: 1.2rem;
//       height: 1.2rem;
//       border-radius: 0.8rem;
//       margin-top: 0.55rem;
//       border: 1px solid black;
//     }

//     &-offline {
//       margin: 0 0 0 auto;
//       margin-right: 0.5rem;
//       background-color: #FFF;
//       width: 1.2rem;
//       height: 1.2rem;
//       border-radius: 0.8rem;
//       margin-top: 0.55rem;
//       border: 1px solid black;
//     }
//   }
// }
